<div class="w-1/6 h-4/6 pt-4 pl-4 m-4 bg-pweep-purple rounded-lg">
<span class="text-pweep-yellow text-2xl leading-5">Liste des utilisateurs</span>
<hr class="m-4 border-pweep-purple"/>
<% @users.each do |utilisateur|%>
    <div class="flex item-center">
      <% if utilisateur.avatar.attached? %>
        <img class="w-11 rounded-full" src="<%= url_for(utilisateur.avatar) %>" />
      <% else %>
        <img src="https://picsum.photos/50">
      <% end %>
        <div class="flex justify-between w-28 items-center pl-4">
          <p><%= utilisateur.nickname %></p>
          <%= link_to follow_path(:user_name => utilisateur.id) do %>
            <% if @icon %>
              <span><i class="fas fa-plus-circle transform text-xl transition duration-500 hover:scale-125 hover:text-pweep-yellow"></i></span>
            <% else %>
              <span><i class="fas fa-plus-circle transform text-xl transition duration-500 hover:scale-125 hover:text-pweep-yellow"></i></span>
            <% end %>
          <% end %>
        </div>
    </div>
    <hr class="m-4 border-pweep-purple"/>
<% end %>
</div>