<div class="w-1/6 h-4/6 pt-4 pl-4 m-4 bg-pweep-purple rounded-lg">
<% @pourtags.each do |pourtag|%>
    <div class="item-center flex justify-between w-28 items-center pl-4">
        <span><i class="fas fa-plus-circle transform text-xl transition duration-500 hover:scale-125 hover:text-pweep-yellow"></i></span>
        <p>#<%= pourtag.label %></p>
    </div>
    <hr class="m-4 border-pweep-purple"/>
<% end %>
</div>