<div class="pweep-wrapper">
  <% if user.avatar.attached? %>
    <img src="<%= url_for(user.avatar) %>" />
  <% else %>
    <img src="https://picsum.photos/200">
  <% end %>
  <div>
    <p><%= user.nickname %></p>
    <p><%= content %></p>
    <div>
      <span><i class="far fa-comment"></i></span>
      <span><i class="fas fa-retweet"></i></span>
      <span><i class="far fa-heart"></i></span>
    </div>
  </div>
</div>