<%= form_with url: "/newpweep", html: {class: "w-3/4 p-2"} do |f|%>
    <div>
        <%= f.text_area :content, class: "resize-none rounded-xl w-full bg-pweep-purple p-3", placeholder: "Composer un nouveau Pweep" %>
    </div>
  <div class="flex justify-end pt-2">
    <%= f.submit "Envoyer le pweep", class: "w-auto bg-pweep-yellow text-white p-3 rounded-3xl transition duration-300 hover:bg-pweep-blue cursor-pointer" %>
  </div>
<%end%>