<div class="pweep-wrapper">
  <img src="<%= url_for(user.avatar) %>" />
  <div>
    <p><%= user.nickname %></p>
    <p><%= sanitize content %></p>
    <div>
      <span><i class="far fa-comment"></i></span>
      <span><i class="fas fa-retweet"></i></span>
      <span><i class="far fa-heart"></i></span>
    </div>
  </div>
</div>