<div class="inline-flex">
  <% @Users.each do |utilisateur| %>
    <div class="login-wrapper">
      <img src="https://picsum.photos/400">
      <p><%= utilisateur.nickname %></p>
    </div>
  <% end %>
</div>
