<div class="v-screen h-corp text-gray-50 flex justify-center items-center">
<div class="inline-flex">
  <% @Users.each do |utilisateur| %>
    <a href="<%= connexion_path(utilisateur.id) %>">
    <div class="login-wrapper">
        <% if utilisateur.avatar.attached? %>
        <img src="<%= url_for(utilisateur.avatar) %>>">
        <% else %>
        <img src="https://picsum.photos/400">
        <% end %>
      <p><%= utilisateur.nickname %></p>
    </div>
    </a>
  <% end %>
</div>
</div>